* {
  box-sizing: border-box;
}

.banner-box > img {
  max-width: 100%;
  display: block;
}
#md_banner,
#sm_banner {
  display: none;
}

.line {
  border-top: solid 2px #000;
  width: 100px;
  margin: 0 10px;
  display: inline-block;
}
.heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.top-box {
}
.body-box {
  max-width: 1280px;
  margin: auto;
  padding: 10px;
}
.lang-box {
  text-align: right;
  font-size: 14px;
  padding: 10px;
}
.en,
.tc,
.sc {
  cursor: pointer;
  color: #6d6d6d;
  font-weight: 600;
}
.active {
  color: #01044b;
}
.tab-box {
  display: flex;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}
.tab-box > div {
  cursor: pointer;
  width: 33.33%;
  /* margin: 5px; */
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #9e9e9e;
}
.tab-box > .active {
  color: #fff;
  background-color: #01044b;
}
.speaker-box {
  display: flex;
  margin: 20px 0;
}
.detail-box {
  width: 65%;
  display: flex;
  
}
.play-box {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.detail-inner-box {
  margin-left: 10px;
}


@media (max-width: 600px) {
  .speaker-box {
    flex-direction: column;
  }
  .detail-box {
    width: 100%;
  }
  .play-box {
    width: 100%;
    margin-top: 20px;
  }
  .tab-box > div {
    font-size: 12px;
  }
  .line {
    display: none;
  }
  .heading-box {
    font-size: 20px;
    padding: 10px 0;
  }
  .detail-inner-box {
    width: 80%;
  }
}